table {
  border: 2px solid forestgreen;
  background-size: cover;
  background-size: cover;
  margin-bottom: 20vh;
}

th {
  border: 2px solid forestgreen;
  width: 200px;
}

td {
  border: 2px solid forestgreen;
  text-align: center;
}
